*{
  font-family: 'Rubik',sans-serif;
  /* color:#444; */
  margin:0;
  padding:0;
  box-sizing: border-box;
}

nav {
  font-size: 20px;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  /* background-color: green; */
  /* background-image: linear-gradient(to right, red, blue); */
  padding-top:32px
}

h1{
  font-size: 52px;
  margin-bottom: 32px;
  line-height: 1.05;
}

p{
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 48px;
}

.btn:link,
.btn:visited{
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  background-color: #e67e22;
  color: #fff;
  padding: 16px 32px;
  display: inline-block;
  border-radius: 9px;
}

h2{
  font-size: 44px;
  margin-bottom: 48px;
}

section{
padding: 96px 0;
background-color: #f7f7f7;
}

.container{
  margin:0 auto;
  width:1000px;
}

header{
  /* background-color: orangered; */
  height: 100vh;
  position: relative;
  background-image:linear-gradient(rgba(34,34,34,0.6),rgba(34,34,34,0.6)),url(../hero.jpg) ;
background-size:cover;
color: #f7f7f7;
}

.header-container{
  width: 1000px;
  position: absolute;

  /* In relation to parent size */
  left:50%;
  top:50%;

  /* In relation to Element size */
  transform: translate(-50%,-50%);
}

.header-container-inner {
  width: 50%;
}